body {
  background: #f1c40f;
  height: 5000px;
	transition: 1s;
}

.volcano {
  opacity: 0.4;
  width: 70%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: 2px solid white;
}


h2 {
	position: fixed;
	top: 0;
	padding: 10px 0;
	color: #FFF;
	font-size: 2.8rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
}

.clock {
  text-align: center;
  position: fixed;
  /* width: 80vw; */
	top: 80%;  
}

.Time {
  height: 500px;
  width: 800px;
  font-family: courier, monospace;
  color: white;
  font-size: 4em;
}