.logo {  
    margin: 0 auto;
  }

  h2.title {
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    width: 100vw;
    margin: auto;
    color: #313131;
    font-size: 3.9rem;
    font-weight: bold;
    position: absolute;
    animation: colorchange 20s infinite alternate;
    z-index: 100;
  }

  h3.pink  {
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 47%;
    z-index: 100;
  }

  h3.blue  {
    font-size: 4em;
    position: absolute;
    top: 200%;
    left: 47%;
  }

  h3.orange  {
    font-size: 4em;
    position: absolute;
    top: 300%;
    left: 47%;
  }
  h3.green  {
    font-size: 4em;
    position: absolute;
    top: 400%;
    left: 47%;
  }
  h3.yellow  {
    font-size: 4em;
    position: absolute;
    top: 500%;
    left: 47%;
  }

  @keyframes colorchange {

    0% {
      color: #BCF5FF;
    }
    
    25% {
      color: #D3C3E5;
    }
    
    50% {
      color: #F7D7C9;
    }
    
    75% {
      color: #000000;
    }
    
    100% {
      color: blue;
    }

  }